<div class="container">
  <div class="title">
      <h1>TypeMaster 48</h1>
  </div>

  <div id="random-word">
      <p>Word:&nbsp; {{word}}</p>
      <p id="word"></p>
  </div>

  <div class="input">
      <input type="text" id="input" placeholder="Start typing..." [(ngModel)]="typeWords">
      <button id="start-btn" (click)="startGame()">Start</button>
  </div>

  <div class="result">
      <p>Timer: {{timeCountdown}}</p>
      <p>Score: {{scoreValue}}</p>
  </div>

  <div id="keyboard-container">
    @for (row of buttons; track $index) {
      @if ($index == 0) {
        <div id="top">
          @for (letter of row.top; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      } @else if ($index == 1) {
        <div id="middle">
          @for (letter of row.middle; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      } @else {
        <div id="bottom">
          @for (letter of row.bottom; track $index) {
            <button>{{letter}}</button>
          }
        </div>
      }
    }
  </div>
</div>
