.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

#random-word {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: bold;
}

#input {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#start-btn {
    padding: 10px 0;
    font-size: 1.2em;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-left: 8px;
}

.result {
    width: 25%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

#keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

#keyboard-container button {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: auto;
    font-size: 16px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    box-shadow: -4px -4px 8px 0 #fff, 4px 4px 8px 0 #aaa;
}

#keyboard-container button:hover {
    box-shadow: inset -4px -4px 8px 0 #fff, inset 4px 4px 8px 0 #aaa;
}
